.MatchDetailsCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.match-date{
    margin-top: 5px;
}

.additionalDetails{
    text-align: right;
}

p{
    margin-bottom: 20px;
}

.match-venue{
    margin-top: 5px;
}

.match-result{
    margin-top: 5px;
}

