.YearSelector {
    text-align : center;
    list-style-type: none;
    border-radius: 10px;
    
}

ul{
    list-style-type: none;
    background-color: aliceblue;
    border-radius: 7px;
    margin-top: 10px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}